.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 20px;
  
  * {
    display: flex;
    align-items: center;
  }
}

.home {
  justify-content: center;
}

.icons {
  font-size: 22px;
  justify-content: flex-end;

  a {
    margin: 0 7px;
  }
}
